body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar {
	background-color: #212529;
}
 .navbar .navbar-brand {
 	color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

.bold-header {
  font-weight: 700;
  line-height: 50px;
	margin-bottom: 25px;

  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.curved-header {
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.section {
	padding: 20px;
	text-align: center
}

.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #6c757d!important;
}

.feature {
	padding: 30px;
}
.project-page > .row	 {
	border-bottom: 1px solid  #CCC;
}
