body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar {
	background-color: #212529;
}
 .navbar .navbar-brand {
 	color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

.bold-header {
	font-size: 50px;
  font-weight: 700;
  line-height: 50px;
	margin-bottom: 25px;

  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.curved-header {
		font-size: 30px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.section {
  padding: 20px;
}

.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #6c757d!important;
}

.masthead {
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    color: #fff;
    background: -webkit-linear-gradient(right,#000 0,transparent 30%,transparent 3%,#000 100%),url(../img/product.png);
    background-size: cover;
		background-repeat: no-repeat;
}
